<section class="py-5">
    <h1 class="display-3">
        Thank you
    </h1>
    <p class="lead">Your book will be sent within 2 days</p>
    <a href="/" class="btn btn-dark btn-lg">Go back home</a>
</section>